body {
    height: 110vh;
  background-image: linear-gradient(rgb(227, 225, 252), rgba(157, 12, 254, 0.786) );
}
h1{
    margin-top: 12px;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}
.logo {
  display: block;
  margin: auto;
  width: 50px;
  height: 50px;
  /* background-color: #000; */
}

.container {
  max-width: 955px;
  /* background-color: rgb(34, 0, 255); */
  border: 2px solid #000;
  border-radius: 13px;
  padding: 33px;
  overflow-y: auto;
  /* margin-bottom: 50px; */
  margin: auto;
  height: 60vh;
}
.message {
  background-color: rgb(221, 218, 218);
  width: 24%;
  padding: 10px;
  margin: 17px 12px;
  border: 2px solid #000;
  border-radius: 10px;
  font-style: italic;
}
.left {
  float: left;
  clear: both;
}
.right {
  float: right;
  clear: both;
}
#send-container{
    width: 100%;
    text-align: center;
    display: block;
    margin: auto;
    max-width: 1083px;


}
#messageInp{
    width: 60%;
    border: 2px solid #000;
    border-radius: 6px;
    height: 34px;
    margin-top: 23px;
}
.btn{
    /* width: 9%; */
    cursor: pointer;
    border: 2px solid #000;
    border-radius: 6px;
    height: 34px;
}